# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# SQLite Database
*.db
*.sqlite
*.sqlite3

# Environment Variables
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# Node
node_modules/

# Frontend build
dist/
build/

# Logs
*.log

# Vite
.vite/
